body {
    color: rgb(37, 37, 66);
    background-color: rgb(240, 204, 210); 
    font-family: fantasy; 
    letter-spacing: 1px;
}

h1 {
    color: black;
    text-transform: uppercase;
    letter-spacing: 50px;
}

table, th, td {
    border: 1px solid;
    text-align: center;
    padding: 5px;
}